*{
    background-color:#1b1a2d;
    color:white;
    font-family:monospace;
}

h1{
    text-align:center;
}

.outside{
    display:grid;
    justify-content:center;
}

.field{
    width:300px;
    height:300px;
    border:3px solid #c3c2d2;
    display:grid;
    grid-template-columns:repeat(3, 100px);
    grid-template-rows:repeat(3, 100px);
}

.cell{
    text-align:center;
    line-height:80px;
    border:1px solid #c3c2d2;
    cursor:pointer;
    background-color:#252428;
    transition-duration:0.2s;
    font-size:150px;
    text-shadow:0px 0px 10px white;
}

.cell:hover{
    background-color:#1d1c20;
}

.cell:active{
    background-color:#ffa60052;
}

